.main-container {
  padding: 10px 10px 0;
}
.field {
  margin-bottom: 25px;
}
.field-checkbox {
  margin-bottom: 20px;
  position: relative;
}
.half {
  display: inline-block;
  width: 49%;
}

input[type=range] {
  margin-top: 10px;
  width: 70%;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  animate: .2s;
  background: #dddddd;
  border-radius: 20px;
  box-shadow: 0 0 0 #026aa7, 0 0 0 #026aa7;
  cursor: pointer;
  border: 0;
  height: 12px;
  width: 100%;
}
input[type=range]::-webkit-slider-thumb {
  background: #026aa7;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 #026aa7, 0 0 0 #026aa7;
  cursor: pointer;
  margin-top: -2px;
  height: 16px;
  width: 30px;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dddddd;
}
input[type=range]::-moz-range-track {
  animate: .2s;
  background: #dddddd;
  border-radius: 25px;
  border: 0;
  box-shadow: 0 0 0 #026aa7, 0 0 0 #026aa7;
  cursor: pointer;
  height: 12px;
  width: 100%;
}
input[type=range]::-moz-range-thumb {
  background: #026aa7;
  box-shadow: 0 0 0 #026aa7, 0 0 0 #026aa7;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
  height: 20px;
  width: 38px;
}
input[type=range]::-ms-track {
  animate: .2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
  cursor: pointer;
  height: 12px;
  width: 100%;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #dddddd;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 0 0 #026aa7, 0 0 0 #026aa7;
}
input[type=range]::-ms-thumb {
  background: #026aa7;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 0 #026aa7, 0 0 0 #026aa7;
  cursor: pointer;
  height: 20px;
  width: 39px;
}
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
  background: #dddddd;
}

input[type=number] {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 3px 6px;
  text-align: center;
  width: 22px;
}
input[type=number]:hover,
input[type=number]:focus,
input[type=number]:active {
  outline: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input-change {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: -2px;
  width: 25%;
}

.scroll-steps-label {
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  margin-bottom: 0;
  min-height: 18px;
  padding-left: 25px;
  position: relative;
}
.scroll-steps-label:before {
  background-color: #ffffff;
  border: 1px solid rgba(120, 130, 140, .5);
  border-radius: 4px;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  outline: 0;
  position: absolute;
  transition: .3s ease-in-out;
  top: -1px;
  width: 18px;
}
.scroll-steps-label span {
  display: block;
  position: relative;
  padding-top: 2px;
}
input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  outline: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
}
input[type=checkbox]:checked + label::before {
  background-color: #026aa7;
  border-color: #026aa7;
}

.reset-options,
.save-options {
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 22px;
  margin: 0;
  padding: 4px 15px 3px;
  text-align: center;
  width: 120px;
}

.save-options {
  background: 100% #5AAC44;
  box-shadow: 0 2px 0 #519839;
  float: right;
}
.save-options:hover,
.save-options:active,
.save-options:focus {
  background: 100% #519839;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
}

.reset-options {
  background: 100% #ffa500;
  box-shadow: 0 2px 0 #e8a121;
  float: left;
}
.reset-options:hover,
.reset-options:active,
.reset-options:focus {
  background: 100% #e8a121;
  cursor: pointer;
  outline: none;
  transition: all .3s ease;
}
