.success,
.error {
  margin-top: 6px;
}
.success {
  color: green;
}
.error {
  color: red;
}
.field {
  display: block;
  margin: 20px 0;
}
.field:after {
  content: '';
  display: table;
  clear: both;
}
label span {
  cursor: pointer;
  margin-left: 5px;
}
.text {
  margin-left: 8px;
  margin-right: 4px;
  width: 45px;
  border-radius: 3px;
  border: 1px solid #bbb;
  padding: 5px;
}
.suffix {
  color: gray;
  margin-left: 5px;
}
.half {
  width: 50%;
  position: relative;
  display: block;
  min-height: 30px;
  float: left;
}
.btn {
  float: right;
  padding: 4px 14px;
}
.btn:hover {
  cursor: pointer;
}