.trello-auto-scroll .main-container {
  margin: 10px;
  min-width: 150px;
  text-align: center;
}
.trello-auto-scroll .button-area {
  display: block;
}
.trello-auto-scroll .button-area button {
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 5px 0;
  padding: 6px;
  width: 100%;
}
.trello-auto-scroll .button-area button:hover,
.trello-auto-scroll .button-area button:active,
.trello-auto-scroll .button-area button:focus {
  cursor: pointer;
  outline: none;
}
.trello-auto-scroll .start-scroll {
  background-color: #00C851;
  border: 1px solid #007E33;
}
.trello-auto-scroll .stop-scroll {
  background-color: #FF4444;
  border: 1px solid #CC0000;
}
.trello-auto-scroll .options-scroll {
  background-color: #33b5e5;
  border: 1px solid #0099CC;
}
.trello-auto-scroll .options-scroll:active {
  background-color: #0099CC;
}