.main-container {
  margin: 0;
  min-width: 220px;
  text-align: center;
}

.img-settings {
  background: transparent url('../icons/settings.svg') no-repeat center;
  height: 20px;
  opacity: .35;
  overflow: hidden;
  padding-right: 2px;
  width: 22px;
}

.button-area {
  display: inline-block;
  width: 48%;
}

.button-area button {
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 22px;
  margin: 5px;
  padding: 4px 15px 3px;
  text-align: center;
}

.button-area button:hover,
.button-area button:active,
.button-area button:focus {
  cursor: pointer;
  outline: none;
  transition: background .3s ease;
}

.start-scroll {
  background: 100% #5AAC44;
  box-shadow: 0 2px 0 #519839;
}
.start-scroll:hover,
.start-scroll:active,
.start-scroll:focus {
  background: 100% #519839;
}

.stop-scroll {
  background: 100% #EB5A46;
  box-shadow: 0 2px 0 #FF4444;
}
.stop-scroll:hover,
.stop-scroll:active,
.stop-scroll:focus {
  background: 100% #FF4444;
}
